<html>
<body>

<form action="http://localhost:5000/musicresults" method="GET">
  Enter your first name:<br>
  <input type="text" name="name" value="">
  <br>
  What would you like to search iTunes for?:<br>
  <input type="text" name="term" value="">
  <br>
  <input type="radio" name="media" value="music">Music<br>
  <input type="radio" name="media" value="movie">Movies<br>
  <input type="radio" name="media" value="podcast">Podcasts<br>
  <input type="radio" name="media" value="musicVideo">Music Videos<br>
  <br>
  <input type="submit" value="Submit">
</form> 

</body>
</html>